@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EmployeeName)
  @Html.TextBoxFor(model => model.EmployeeName)

  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.Speciality)
  @Html.TextBoxFor(model => model.Speciality)

  <input type="submit" value="Add new stylist" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Show all stylists", "Index")</p>