@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Speciality)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Speciality)
  @Html.EditorFor(model => model.Speciality)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>