@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model List<HairSalon.Models.Appointment>

<h1>Appointments</h1>

@if (@Model.Count == 0)
{
  <h3>No appointments have been added yet!</h3>
} 

else
{
  <ul>
    
    @foreach (Appointment appointment in Model)
    {
      <h4> Client Name: @appointment.Client.Name</h4>
      <h4> Stylist Name: @appointment.Client.Name</h4>
      <li>
      @Html.ActionLink($"{appointment.Time}", "Details", new { id = appointment.AppointmentId }) </li>     
    }
  </ul>
}

<p>@Html.ActionLink("Add new appointment", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>